<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
    <param name="baud_rate" type="int" value="230400"/>
    <param name="app_id" type="int" value="1043484"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="deebf212fdbfe7f08099e43378c54090a9b88bb590995356c8bf91181909cdb1"/>
    <param name="use_broadcast" type="bool" value="false"/>
    </node>
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
        <param name="Vthres_UP_L" type="int" value="2700"/>
        <param name="Vthres_DOWN_L" type="int" value="2600"/>
        <param name="Vthres_UP_R" type="int" value="2700"/>
        <param name="Vthres_DOWN_R" type="int" value="2600"/>
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="115200"/>
    </node>
</launch>
